```gitignore
/.metadata/

# Eclipse 관련 폴더 및 파일 무시
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
track005_jsp/Servers/

# Node.js 관련
# **/node_modules/
# **/.env
node_modules/
.env
.env.*
dist/
build/
coverage/
.next

# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db

# 보안 설정 파일
track007_boot_api/boot1/src/main/resources/application-oauth.properties
```
