@charset "UTF-8";


* { margin: 0; padding: 0; }

/* 숨기기 처리 */
.myhidden {
    position: absolute; left: -9999px;
    width: 1px; height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0); /* 요소를 잘라서 시각적으로 완전히 숨김 - 구형 브라우저 호환 */
}

#demo {
    height: 300px;
    overflow: hidden;
}

.carousel-item img {
    object-fit: fill;
}

.btn-info {
    text-decoration: none;
}

/* 배경 body fixed하고 원하는 배경 부분만 투명하게 */
.mybg {
    background-color: transparent;
}

body {
    font-family: 'Arial, sans-serif';
    background-image: url(./img/ruslansikunov-chamomile-9922901_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 15px 30px;
}

/* MyWebsite */
header .logo { 
    font-size: 20px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    /* margin: 0;
    padding: 0; */
}

/* Q5. header nav a : 글자색 흰색, 밑줄 제거, 글자굵게 */
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Q6. header nav a:hover : 글자색 #ff6600 */
header a:hover {
    color: #ff6600;
}

/* transform + transition */
.container {
    transition: all 0.8s;
}

/* .container:hover {
    transform: scale(0.95);
} */

@media (max-width: 575px) {
    .myvisual { display: none; }
}

.badge {
    text-decoration: none;
}